// nota: las variables las tengo que importar en cada sitio donde las utilice
@import "core/variables";

.header {
  background-color: $color-primary-dark;
  border: 1px solid $color-primary-dark;
  color: $color-primary-light;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  padding: 10px;
}
