* {
  font-family: "Roboto", sans-serif;
  color: #666;
}
.page {
  margin: 20px;
}
.title {
  margin-bottom: 20px;
}
.container {
  background: url("../images/container-bg.png") #ddd;
}
.item {
  background: rgb(241, 177, 225);
  font-size: 36px;
}

/* flex */

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.item {
  box-sizing: border-box;
  width: 200px;
  height: 100px;
  border: 1px solid rgb(211, 20, 179);
}
