.page {
  margin: 20px;
}

/* flex */

.container {
  border: 5px solid green;
  display: flex;
  flex-wrap: wrap;
  font-size: 36px;
}

.item {
  background-image: url(/images/mushroom2.jfif);
  border: 3px solid rgb(211, 20, 179);
  box-sizing: border-box;
  height: 100px;
  width: 200px;
}
