// variables

$color-primary-dark: #204051;
$color-primary-medium: #3b6978;
$color-primary-medium-light: #84a9ac;
$color-primary-light: #e4e3e3;

// font

$font-default: "Montserrat Alternates", sans-serif;
