.child1 {
  background-color: aquamarine;
  height: 300px;
  left: 100px;
  margin: 40px;
  padding: 30px;
  position: relative;
  top: 50px;
  width: 300px;
}

.child2 {
  background-color: fuchsia;
  height: 300px;
  left: -150px;
  margin: 40px;
  padding: 30px;
  position: relative;
  top: -320px;
  width: 300px;
}

.child3 {
  background-color: orange;
  height: 300px;
  left: 180px;
  margin: 40px;
  padding: 30px;
  position: relative;
  top: -240px;
  width: 300px;
}
